<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@MBR.Web.Constants.PRODUCT_NAME</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/css/skins/_all-skins.min.css">

    <!--[if lt IE 9]>
    <script src="~/Scripts/excanvas.min.js"></script>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#permeable_rate_div">透水率衰减预测</a></li>
        <li><a href="#add_up_chlorin_div">累积氯预测</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="permeable_rate_div">
            <div id="permeable_rate" style="min-width:400px;height:400px"></div>
        </div>
        <div class="tab-pane" id="add_up_chlorin_div">
            <div id="add_up_chlorin" style="min-width:400px;height:400px"></div>
        </div>
    </div>
</div>


<script src="~/plugins/jQuery/jquery-1.12.4.min.js"></script>
<script src="~/plugins/jQuery/jquery-migrate.min.js"></script>
<script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
<script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/plugins/fastclick/fastclick.js"></script>
<script src="~/Scripts/app.min.js"></script>

<script src="~/Scripts/highcharts.js"></script>


    <script type="text/javascript">
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

        });
        var chart = Highcharts.chart('permeable_rate', {
            chart: {
                type: 'spline'
            },
           
            title: {
                text: '透水率衰减预测'
            },
           
            xAxis: {
                type: 'linear',
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: '透水率(%)',
                    style: {
                        'fontSize': '20px'
                    }
                },
                min: 0,
                max: 100
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e}: {point.y:.2f}'
            },
            plotOptions: {
                spline: {
                    //数据点标记
                    marker: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: '离线清洗后',
                data: [
                    [1, 60],
                    [2, 58],
                    [3, 54],
                    [4, 50],
                    [5, 48],
                    [6, 45],
                    [7, 40],
                    [8, 36],
                    [9, 31],
                    [10, 25],
                    [11, 15],
                    [12, 10],
                    [13, 5]
                ],
                color: '#f7a35c',
               

            }, {
                name: '离线清洗前',
                data: [
                    [1, 17],
                    [2, 16],
                    [3, 15],
                    [4, 14],
                    [5, 13],
                    [6, 12],
                    [7, 11],
                    [8, 10],
                    [9, 9],
                    [10, 8],
                    [11, 7],
                    [12, 6],
                    [13, 5]
                ],
                color: '#7cb5ec',
            }]
        });

        //累积氯预测
        var chart = Highcharts.chart('add_up_chlorin', {
            chart: {
                type: 'spline'
            },

            title: {
                text: '累积氯预测'
            },

            xAxis: {
                type: 'linear',
                title: {
                    text: '时间'
                }
            },
            yAxis: {
                title: {
                    text: '累积氯接触值',
                    style: {
                        'fontSize' : '20px'
                    }
                },
                
                min: 0,
                
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e}: {point.y:.2f}'
            },
            plotOptions: {
                spline: {
                    //数据点标记
                    marker: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: '氯接触值',
                data: [
                    [1, 10],
                    [2, 11],
                    [3, 13],
                    [4, 14],
                    [5, 15],
                    [6, 17],
                    [7, 19],
                    [8, 21],
                    [9, 25],
                    [10, 28],
                    [11, 33],
                    [12, 38],
                    [13, 50]
                ],
                color: '#f7a35c',

            }]
        });
    </script>
</body>
</html>